table {
    border-collapse: collapse;
    width: 700px;
    height:800px;
}
    td {
        border: 5px solid #000;
    }
        .yellow {
            background: yellow;
        }
        .red {
            background-color: #ff121d;
        }
        .black {
            background: black;
        }
        .blue {
            background-color: #1125ff;
        }
