@font-face {
    src: url('../fonts/ofont.ru_Trebuchet MS.ttf');
    font-family: "Trebuchet MS";
}

.wrapper {
    display: table;
    margin: 10px auto;
    text-align: center;
    font-family: "Trebuchet MS";

}
div>h1 {
    font-size: 1.85em;
    text-transform: uppercase;
    padding: 40px 0 50px 0;
}
.main1 {
    margin-top: 10px;
    position: relative;
    z-index: 2;
    float: left;
    font-family: "Trebuchet MS";
    background: #37c2d3;
    border: 1px solid #e8eaec;
    border-radius: 5px;
    box-sizing: border-box;
    width: 295px;
}
.main2 {
    position: relative;
    z-index: 3;
    float: left;
    font-family: "Trebuchet MS";
    background: #ee8129;
    border: 4px solid #ee8129;
    border-radius: 5px;
    box-sizing: border-box;
    width: 295px;
    box-shadow: 0 0 15px 0 #2b2f2f;
}
.main3 {
    margin-top: 10px;
    position: relative;
    z-index: 2;
    float: left;
    font-family: "Trebuchet MS";
    background: #1cb79a;
    border: 1px solid #e8eaec;
    border-radius: 5px;
    box-sizing: border-box;
    width: 295px;
}
.header_left h2, .header_right {
    font-size: 1.5em;
    color: #fff;
    padding: 25px 0 19px 0;
}
.header_center {
    font-size: 1.5em;
    color: #fff;
    padding: 25px 0;
}

.main_block1, .main_block3 {
    background: #fff;
    box-sizing: border-box;
    width: 100%;
    padding: 20px 15px 20px 15px;
}
.main_block2 {
    background: #fff;
    box-sizing: border-box;
    width: 100%;
    padding: 20px 15px 35px 15px;
}


.top {
    position: relative;
    margin-bottom: 25px;
    height:110px;
    margin-bottom: 40px;
}
.top h3 {
    font-size: 1.5em;
    font-weight: 100;
    color: #3f4042;
}
.top>div {
    display: inline-block;
    color: #35495a;
}
.bax{
    font-size: 1.3em;
    position: absolute;
    top:50px;
    left: 16%;
}
.number {
    position: absolute;
    top:50px;
    left:22%;
    font-size: 4.7em;
}
.month {
    position: absolute;
    top: 110px;
    left: 56%;
    font-size: 1.125em;
}

.nav_main {
    text-align: left;
    margin-bottom: 25px;
}
.nav_main ul li {
    margin-bottom: 2px;
}
.nav_main ul li:nth-child(2n+1) {
    background: #edf5fd;
}
.nav_main li:nth-child(2n+2) {
    background: #f5f5f6;
}

.nav_main ul li:before {
    content: url("../images/--.png");
    margin-left: 30px;
}
.nav_main ul li a {
    display: inline-block;
    margin-left: 10px;
    text-decoration: none;
    color: #888c94;
    font-size: 0.95em;
    font-weight:100;
    padding: 10px 0;
}
.bottom1 input, .bottom3 input {
    background: #3371a6;
    color: #fff;
    font-family: "Trebuchet MS";
    font-size: 0.875em;
    font-weight: 600;
    width: 100%;
    border: none;
    border-bottom: 2px solid #16436a;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
}
.bottom2 input {
    background: #ee8129;
    color: #fff;
    font-family: "Trebuchet MS";
    font-size: 0.875em;
    font-weight: 600;
    width: 100%;
    border: none;
    border-bottom: 2px solid #b3560b;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
}

.bottom1 input:hover {
    border-bottom: 2px solid #fff;
}
.bottom2 input:hover, .bottom3 input:hover {
    border-bottom: 2px solid #fff;
}